<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cseaeventmanagement">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Keep_it_portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Admin_ApproveActivity" />
        <activity android:name=".OnBoardingActivity" />
        <activity android:name=".EventFeedbackActivity" />
        <activity
            android:name=".Admin_FeedbackActivity"
            android:label="Feedbacks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Search_EventsActivity"
            android:label="Search Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CustomFAQ"
            android:label="FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RequestEventActivity"
            android:label="Request an event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ListEventsActivity"
            android:label="Upcoming Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Council_13_14Activity"
            android:label="Core Team 2013-14">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CouncilActivity" />
        </activity>
        <activity
            android:name=".Council_14_15Activity"
            android:label="Core Team 2014-15">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CouncilActivity" />
        </activity>
        <activity
            android:name=".Council_15_16Activity"
            android:label="Core Team 2015-16">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CouncilActivity" />
        </activity>
        <activity
            android:name=".Council17_18Activity"
            android:label="Core Team 2017-18">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CouncilActivity" />
        </activity>
        <activity
            android:name=".Council_18_19Activity"
            android:label="Core Team 2018-19">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CouncilActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".App_Feedback_Activity"
            android:label="App Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CouncilActivity"
            android:label="Core Team">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name=".NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity
            android:name=".EventViewActivity"
            android:label="@string/title_activity_view_event"></activity>

    </application>

</manifest>